body {
    background-color: black;
}

#rg {
    color: orange;
    font-size: 50px;
    text-align: center;
}

.list {
    width: 500px;
    margin: 0 auto;
    text-align: center;
    display: block;
    color: white;
    font-weight: 800;
    text-decoration: none;
    padding: .5em 2em;
    outline: none;
    border: 2px solid;
    transition: 0.2s;
}

.list:hover {
    background: rgba(255,255,255,.2);
}

.list:active {
    background: white;
}